@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');


/**{
	border: 1px solid black;
  margin: 25px;
  
  background-color: lightblue;
}*/

/*{
	padding: 0;
	margin: 0
	font-size:12pt;

}*/

/*#sibi {


	text-align: center;
  border: 3px solid blue;
  margin-left: 500px;
  background-color: green !important;

  padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;
  width:430px; 
  height:20px; */



/*


* {
    box-sizing: border-box;
    font-family: Raleway; font-size: medium; font
    color: #777;
}


body {
	border: 1px solid black;
    margin: 0;
    padding: 0;
    min-height: 100% !important;
} */

