body {
    background-color:blue;
}
p{
	font-weight: 100;
	line-height: 20pt; line
	/*font-variant-caps: small-caps !important;*/
}
h1{
	font-family: arial;
	color: green;
	font-stretch: semi-condensed !important;
}
.web{
	color:blue;
	font-weight: 100;
	font-variant: small-caps ;
	
}

